html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {

  body {
    
    background: linear-gradient(50deg, #F17C58, #E94584, #24AADB, #27DBB1,#FFDC18, #FF3706);
    background-attachment: fixed;
    background-size: 800% 100%;
    animation: gradient 5s linear infinite;
    animation-direction: alternate;
  }
  @keyframes gradient {
    0% {background-position: 0%;}
    100% {background-position: 100%;}
    
  }
}
